* {
  box-sizing: border-box;
  font-family: 'NS';
}

// a{
//   text-decoration: none;
// }

.clear_fix {
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

//기본 클래스 선언
.db_im {
  display: block !important;
}

.db {
  display: block;
}

.img1 {
  width: 70px !important;
  height: 70px !important;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 70px;
    max-height: 70px;
    transform: translate(-50%, -50%);
  }
}
.overflow{
  overflow: auto;
}

// 가계도에서 죽은 사람일시 흑백처리하기 
.die {
  img {
    mix-blend-mode: luminosity;
  }
}
.wt40{
  width:40px;
}
.wt50{
  width:50px;
}
.wt60{
  width: 60px;
}
.wt80{
  width:80px;
}
.wt100{
  width:100px;
}
.wt130{
  width:130px;
}
.block {
  display: block!important;
}
